# Server Configuration
PORT=5050
NODE_ENV=development

# Database Configuration
# format: postgresql://username:password@localhost:5432/dbname
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/project_task_manager

# Authentication
JWT_SECRET=your_super_secret_key_change_in_production
